[Desktop Entry]
Name=AssaultCube
GenericName=AssaultCube
Comment=AssaultCube, formerly ActionCube, is a free first-person-shooter based on the game Cube
Exec=assaultcube -t
Icon=assaultcube
Terminal=false
Type=Application
Categories=Game;ActionGame;
